<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Recipes</title>
</head>
<body>
    <header id="main-header"><div class="container">
        <p>Recipes</p>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="views/saved-recipes.html">Saved Recipes</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Random Recipe Generator</h1>
    </main>
    
    <footer id="main-footer"><p>copyright stuff</p></footer>
</body>
<script type="module" src="src/index.js"></script>
</html>